<style global lang="postcss">
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>

<main>
<header class="navbar bg-primary text-primary-content">
  <a class="btn btn-ghost normal-case text-xl">Example App</a>
</header>
<slot />

</main>
